* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: var(--pri-color);
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "i f";
}

.header-i{
  display: grid;
  grid-area: i;
  grid-template-columns: 10% 90%;
  grid-template-areas: "logo list";
}

.logo{
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list{
  grid-area: list;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

.header-f {
  display: grid;
  grid-area: f;
  grid-template-columns: 90% 10%;
  grid-template-areas: ". icon";
}

.nav-list li {
  margin-right: 5%;
}

.nav-list li a {
  text-decoration: none;
}

.enlace-list {
  list-style: none;
}

li .enlace {
  pointer-events: auto;
  text-decoration: none;
  color: #000000;
}

.nav-list li a:hover {
  color: #999999;
}

.user {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user svg{
  height: 35px;
  width: 35px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.enlace-desac {
  color: #999999 !important;
  pointer-events: none;
  cursor: default;
}

.desac {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.menu-user {
  z-index: 3;
  position: fixed;
  height: 100%;
  width: 30%;
  background-color: rgba(245, 245, 245, 1);
  top: 0;
  right: 0;
}

.menu-user-shadow {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
